@import "../stylings/variables";

.header {
  height: 100px;
  background: $color-primary-light;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.header__logo {
  margin-left: 20px;
}

.header__logo-link {
  text-decoration: none;
  color: $color-primary-darkest;
  font-weight: bold;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

.header__logo-link:hover {
  color: #FFFFFF;
}
