<ng-container *ngIf="post">
  <form class="add-form" [formGroup]="editPostForm" (ngSubmit)="onSubmit()">

    <div class="form-element">
      <label class="form-element__title">
        *Your name:
      </label>
      <input class="form-element__input" type="text" formControlName="author">
      <div class="form-element__error" *ngIf="isFieldInvalid('author')">Це поле обов'язкове</div>
    </div>

    <div class="form-element">
      <label class="form-element__title">
        Title:
      </label>
      <input class="form-element__input" type="text" formControlName="title">
    </div>

    <div class="form-element">
      <label class="form-element__title">
        *Your post:
      </label>
      <textarea class="form-element__input form-element__textarea" formControlName="body"></textarea>
      <div class="form-element__error" *ngIf="isFieldInvalid('body')">Це поле обов'язкове</div>
    </div>

    <button class="btn" type="submit" [disabled]="!editPostForm.valid">Submit</button>
  </form>

</ng-container>
