$color-primary: #1D7373;
$color-primary-dark: #009999;
$color-primary-darkest: #006353;
$color-primary-light: #33CCCC;
$color-primary-lightest: #5CCCCC;

$color-secondary: #2A4480;
$color-secondary-dark: #1240AB;
$color-secondary-darkest: #06266F;
$color-secondary-light: #4671D5;
$color-secondary-lightest: #6C8CD5;

@mixin button() {
  width: 110px;
  height: 40px;
  border-width: 1px;
  border-radius: 10px;
  background: $color-primary-light;
  color: $color-primary-darkest;
  cursor: pointer;
}

