<div class="content" *ngIf="post">

  <div class="post">
    <div class="post__title">
      <h2 class="post__title-header">{{post.title}}</h2>
      <h4 class="post__title-author">By {{post.author}}</h4>
    </div>

    <p class="post__body">{{post.body}}</p>
  </div>

  <div class="comments" *ngIf="comments.length > 0; else elseTemplate">
    <h3 class="comments__header">Comments:</h3>
    <div class="comment" *ngFor=" let comment of comments">
      <h4 class="comment__header">{{comment.comment_author}}</h4>
      <p class="comment__body">{{comment.comment_body}}</p>
      <hr class="comment__line">
    </div>
  </div>
  <ng-template #elseTemplate>
    <h4 class="no-comments">There are no comments yet.</h4>
  </ng-template>

  <button class="btn" routerLink="new_comment" routerLinkActive="active">Add Comment</button>
</div>
