.post-card {
  border: 1px dotted #006363;
  border-radius: 15px;
  height: 300px;
  margin-bottom: 20px;
}

.btn {
  margin-bottom: 10px;
  width: 100px;
  height: 40px;
  border-radius: 10px;
}

.btn:hover {
  cursor: pointer;
}
