@import "../../../stylings/variables";

.add-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.post-card {
  border: 1px dotted $color-primary-darkest;
  border-radius: 5px;
  margin-bottom: 20px;
}

.post-card__content {
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
}

.btn {
  @include button();
}

.btn:hover {
  background: $color-primary;
  color: $color-primary-light;
}

.btn_edit {
  height: 20px;
  border-radius: 4px;
  background: $color-secondary-light;
  color: $color-secondary-darkest;
  display: block;
  margin-right: 0;
}

.btn_edit:hover, .btn_add:hover {
  background: $color-secondary-darkest;
  color: $color-secondary-lightest;
}

.btn_add {
  width: 200px;
  font-weight: bolder;
  font-size: 1.2rem;
  background: $color-secondary-light;
  color: $color-secondary-darkest;
}

.post-card__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0;
}

.post-card__header {
  margin: 0 0 0 10px;
  font-weight: bolder;
  color: $color-primary-darkest;
  font-size: 3rem;
}

.post-card__author {
  margin-right: 10px;
  font-weight: normal;
  font-size: 1rem;
  color: #656565;
}

.btn_comments {
  display: block;
  margin-left: 0;
}

.post-card__body {
  line-height: 2rem;
}
