<form class="comment-form" [formGroup]="newComment" (ngSubmit)="onSubmit()">

  <!-- Comment author -->
  <div class="form-element">
    <label class="form-element__title">
      *Your name:
    </label>
    <input class="form-element__input" type="text" formControlName="comment_author">
    <div class="form-element__error" *ngIf="comment_author.invalid && (comment_author.dirty || comment_author.touched)">
      Name is required.
    </div>
  </div>

  <!-- Comment -->
  <div class="form-element">
    <label class="form-element__title">
      *Your comment:
    </label>
    <textarea class="form-element__input form-element__textarea" formControlName="comment_body"></textarea>
    <div class="form-element__error" *ngIf="comment_body.invalid && (comment_author.dirty || comment_author.touched)">
      The field is empty or your message is too long.
    </div>
  </div>

  <!-- Button -->
  <button class="btn" type="submit" [disabled]="!newComment.valid">Add comment</button>
</form>
